{% extends "base.html" %}
{% block title %}Add Member{% endblock %}

{% block content %}

    <h3 class="page-header">Add Member</h3>

    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{error}}
        </div>
    {% endfor %}
    {% endfor %}

    <form action="{{ url_for('add_member') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label }}
            {{ form.phone(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}
