{% extends "base.html" %}
{% block title %}Home{% endblock%}

{% block content %}

    <div class="row page-header">
        <div class="col-md-6">
            <h3>Daftar Member</h3>
        </div>
        <div class="col-md-6" style="padding-top: 12px;">
            <a href="{{ url_for('add_member') }}" class="btn btn-primary pull-right">Add Member</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>
                    <a href="{{ url_for('edit_member', id=member.id) }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </a>
                    &nbsp;&nbsp;
                    <a href="{{ url_for('delete_member', id=member.id) }}">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
